@import url(./__background/cover__background.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__overlay/cover__overlay.css);
@import url(./__title/cover__title.css);

.cover {
  height: calc(100vw / 1.6);
  width: 100%;
  max-width: 1184px;
  margin: 0 auto;
  max-height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
}
